.order-list {
  position: relative;
  background-color: white;
  .item {
    padding: 10px 10px 0;
    &:after {
      content: " ";
      position: absolute;
      left: 15px;
      right: 0;
      height: 1px;
      border-top: 1px solid #E5E5E5;
    }
  }
  .user-info {
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    align-items: center;
    .user-name {
      flex: 1;
    }
    .choose-btn {
      font-size: 14px;
      font-weight: lighter;
      padding: 0 5px;
      color: #A4A4A4;
      border: 1px solid #E4E3E4;
      border-radius: 3px;
    }
  }
  .shop-list {
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    color: #979696;
    align-items: center;
    .name {
       flex: 1;
     }
    .count {
      text-align: center;
      flex: 0 0 10%;
      padding: 0 5px;
    }
    .price {
      flex: 0 0 10%;
      text-align: center;
      padding: 0 5px;
    }
  }
}